/* * @type {import('tailwindcss').Config}
module.exports = {
  tailwindConfig: "./styles/tailwind.config.js",
  content: ["./*.html"],
  theme: {
    fontFamily: {
      'sans': ['Public Sans', 'sans-serif'],
    },
    fontSize: {
       base: '18px',
    },
    screens: {
      sm: "375px",
      md: "768px",
      lg: "976px",
      xl: "1440px",
    },
    extend: {
      colors: {
        darkBlue: "hsl(233, 26%, 24%)",
        limeGreen: "hsl(136, 65%, 51%)",
        brightCyan: "hsl(192, 70%, 51%)",
        grayishBlue: "hsl(233, 8%, 62%)",
        lightGrayishBlue: "hsl(227, 12%, 61%)",
        veryLightGray: "hsl(0, 0%, 98%)",
      },
    },
  },
  plugins: [],
}; */